

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 300px;
    border: 1px solid black;
}

.display {
    border: 1px solid black;
    height: 30px;
    margin: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    font-family: lato;
}

.buttons div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}